<div class="wrapper">
    <p id="startchange">Pastor Michael Shortsleeves: (802) 483 6266 nhismrcy@gmail.com</p>
    <p>Elder Robin Crossman: (802) 483 6547.</p>
</div>
<div class="wrapper">
    <p>See us on Facebook</p>
    <a href="https://www.facebook.com/MountainsideBibleFellowship/">
    <%= image_tag("facebook.png", style: "width:40px;", alt: "Facebook" ) %>
    </a>
</div>

<div>
    <!--Google Maps Iframe-->
    <iframe width="100%" height="450" frameborder="0" style="border:0"
    src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJuYK3_GMztUwR3ZHJa0j_l9Y&key=AIzaSyDJOHXYhxNCg8vqfZsrM9SVrRevcqWnRWk" allowfullscreen></iframe>
</div>