    <div class="wrapper">
    		<p id="startchange"><i>Having been led by God to repent of my sins and trust the forgiveness God alone offers through faith in the death of His Son and my Lord Jesus Christ, and...</i></p>
    		<p><i>Desiring to unite in the worship, fellowship and testimony of Mountainside Bible Fellowship and to place myself under its spiritual care and direction, and...</i></p>
    		<p><i>Having read the <b>Doctrinal Position</b>, do hereby express my desire to enter into the following agreement with other Believers at Mountainside Bible Fellowship:</i></p>
    		<p><b>1.</b>  To give myself regularly to the study of God's word and to prayer;</p>
    		<p><b>2.</b> To worship God in spirit and in truth, in response to God's revelation of Himself in His word, in the splendors of nature, in systematic ordering of my life, and above all in the person of His Son, Jesus Christ, my Lord;</p>
    		<p><b>3.</b> To spread the gospel of Christ near and far, as God may direct, with the intention of bringing each one who is saved to a place of maturity in Christ; </p>
    		<p><b>4.</b>  To share with others out of my abundance, whether in insights, time or material resources</p>
    		<p><b>5.</b>  To help others discover their spiritual gifts and use them for the building up on one another and for the glory of God;</p>
    		<p><b>6.</b>  To demonstrate my love to the Lord and my loyalty to others by saying only what is good about another unless I follow Matthew 18 with a goal of restoration;</p>
    		<p><b>7.</b>  To encourage others to not forsake the assembling of the saints and to come prepared to both receive and give a blessing;</p>
    		<p><b>8.</b> To encourage men to function with godly maturity, as those who are accountable for the welfare of the Body and of their individual families;</p>
    		<p><b>9.</b>To motivate women to a life of godly faithfulness by providing meaningful ministries and financial assistance for them when they are older and without husband or relatives who can support them;  and...</p>
    		<p><b>10. </b> To project to all a loving and helpful spirit, contributing toward unity in Christ's Body, so that the world may know the reality of Christ in my life and that I am a true disciple of Jesus Christ. </p>
    		<p><b>Our Mission</b> is to engage our community and the world for the sake of the Gospel of Jesus Christ and to fulfill what is known as the biblical Great Commission: Matthew 28:16-20</p>
    </div>