    <div class="container">

    <div class="wrapper">
    		<div class="docofaith">
<p id="startchange"><b><u>Doctrines of Faith</b></u></p>
    	</div>
    	
    <div class="wrapper">
    		<p><i> At Mountainside Bible Fellowship there are several distinctions that make us "Reformed" which we believe are based on what the Bible teaches. In this section we will look at these characteristics to familiarize you with them. </i></p>	
    </div>
    
    <div class="docofaithtitle">
    <p> <b>I) <u>We Hold to the "Doctrines of Grace"</u></b>. The "Doctrines of Grace" can be easily remembered by using the acrostic <b>TULIP</b>:</p>
    </div>
    
    <div class="docofaithsub">
    <p><b><u>Total Depravity</b></u></p>
    </div>
    
        <div class="wrapper">
    		<p> Because of the fall, man is unable of himself to savingly believe the gospel. The sinner is dead, blind, and deaf to the things of God; his heart is deceitful and desperately corrupt. His will is not free, it is in bondage to his evil nature; therefore, he will not, indeed he cannot, choose good over evil in the spiritual realm. Consequently, it takes much more than the Spirit's assistance to bring a sinner to Christ, it takes regeneration by which the Spirit makes the sinner alive and gives him a new nature. Faith is not something man contributes to salvation but is itself a part of God's gift of salvation, it is God's gift to the sinner, not the sinner's gift to God. </p>
    		<p><b>Genesis 2:15-17, Romans 5:12, Psalm 51:5, 1 Corinthians 2:14, Romans 3:10-18, Jeremiah 17:9, John 6:44, Ephesians 2:1-10</b></p>
	</div>
    <div class="docofaithsub">
    <p><b><u>Unconditional Election</b></u></p>
    </div>
    
    <div class="wrapper">
    		<p>God's choice of certain individuals unto salvation before the foundation of the world rested solely in His own sovereign will. His choice of particular sinners was not based on any foreseen response or obedience on their part, such as faith, repentance, etc. On the contrary, God gives faith and repentance to each individual whom He selected. These acts are the result, not the cause of God's choice. Election therefore was not determined by or conditioned upon any virtuous quality or act foreseen in man. Those whom God sovereignly elected He brings through the power of the Spirit to a willing acceptance of Christ. Thus God's choice of the sinner, not the sinner's choice of Christ, is the ultimate cause of salvation. </p>
    		<p><b>Romans 9:10-21, Ephesians 1:4-11, Ephesians 2:4-10, Romans 8:29-30, Acts 11:18, Acts 13:48</b></p>
</div>
	
	    <div class="docofaithsub">
    <p><b><u>Limited Atonement</b></u></p>
    </div>
    
    <div class="wrapper">
    		<p> Christ's redeeming work was intended to save the elect only and actually secured salvation for them. His death was a substitutionary endurance of the penalty of sin in the place of certain specified sinners. In addition to putting away the sins of His people, Christ's redemption secured everything necessary for their salvation, including faith which united them to Him. The gift of faith is infallibly applied by the Spirit to all for whom Christ died, thereby guaranteeing their salvation.
    		</p>
    		<p><b>Matthew 1:21, Romans 5:12-21, Romans 3:21-26, Ephesians 2:8-10, Titus 3:5-6, Philippians 1:6, John 10:11-30, John 17:6-12, Romans 8:28-30, John 6:44, Acts 20:28</b></p>
</div>

	    <div class="docofaithsub">
    <p><b><u>Irresistible Grace</b></u></p>
    </div>
    
    <div class="wrapper">
    		<p> In addition to the outward general call to salvation which is made to everyone who hears the gospel, the Holy Spirit extends to the elect a special inward call that inevitably brings them to salvation. The external call (which is made to all without distinction) can be, and often is, rejected; whereas the internal call (which is made only to the elect) cannot be rejected, it always results in conversion. By means of this special call the Spirit irresistibly draws sinners to Christ. He is not limited in His work of applying salvation by man's will, nor is He dependent upon man's cooperation for success. The Spirit graciously causes the elect sinner to cooperate, to believe, to repent, to come freely and willingly to Christ. God's grace, therefore, is invincible; it never fails to result in the salvation of those to whom it is extended.
    		</p>
    		<p><b>John 3:16,  Matthew 22:14, Acts 17:29-31,  Matthew 23:37-39, John 6:44, Romans 8:28-30, John 1:12-13, John 3:1-8, Ephesians 2:8-10</b></p>
	</div>
	
	
	   <div class="docofaithsub">
    <p><b><u>Perseverance of the Saint</b></u></p>
    </div>
    
    <div class="wrapper">
    		<p> All who were chosen by God, redeemed by Christ, and given faith by the Spirit are eternally saved. They are kept in faith by the power of Almighty God and thus persevere to the end.</p>
    		<p><b>John 3:16, John 6:35-40, John 6:44, Philippians 1:6, Philippians 2:12-13,Jude 24-25, Ephesians 1:13-14, Romans 8:28-30, Romans 8:35-39</b></p>
    		</div>

<div class="docofaithtitle">
    <p> <b>II) <u>The Will of Man</u></b></p>
    </div>
    
    <div class="docofaithsub">
    <p><b><u>The Freedom of the Will</b></u></p>
    </div>
    
        <div class="wrapper">
    		<p>All men have been created with freedom of choice. They are free to do whatever they want to do. God never forces men to do anything against their will </p>
    		<p><b>Genesis 1:26-27, Genesis 2:15-17, John 3:16, Romans 9:10-21, Romans 3:9-20</b></p>
	</div>
   
    <div class="docofaithsub">
    <p><b><u>The Bondage of the Will</b></u></p>
    </div>
    
        <div class="wrapper">
    		<p>As a result of the Fall man not only lost eternal life, but also his power to choose God or good. This is not to say that fallen man does not have the ability to choose; he does. What we are saying is that as a result of the Fall man is now in bondage to his nature. He will on his own never choose to trust in Jesus Christ as his Savior and Lord. He will as an exercise of his freedom of choice freely choose eternal damnation rather than eternal life.</p>
    		<p><b>Ephesians 2:1-10, John 6:44, 1 Corinthians 2:14</b></p>
    	</div>
    	
    	<div class="docofaithsub">
    <p><b><u>The Will of the Believer in This Life</b></u></p>
    </div>
    
        <div class="wrapper">
    		<p>When God saves us he works in us in such a way that we want to repent of our sins and receive Jesus Christ as our Savior and Lord. As a believer God makes us willing to choose that which pleases him, and gives us the power to do it. God works in such a way as to make us want what he wants without forcing us to do it. Nevertheless, in this life, the believer will never be able to live perfectly for his Lord.
    		</p>
    		<p><b>John 1:12-13, Romans 6:15-18, Acts 11:18, Acts 16:11-15, Ephesians 2:1-10, Galatians 5:16-18</b></p>
    		</div>
    		<div class="docofaithsub">
    <p><b><u>The Will of the Believer After Death</b></u></p>
    </div>
    
        <div class="wrapper">
    		<p>  It is not until the believer dies and enters into heaven that he will be made perfectly and unchangeable free to will only what is good. He will want to do good and good alone for all eternity.
    		</p>
    		<p><b>Galatians 5:16-18, Revelation 21,22</b></p>
    		</div>
    </div>
      </div>