    <div class="wrapper">
    		<p id="startchange">  Mountainside Bible Fellowship is a Baptist church serving our Lord in the heart of Vermont by conforming our lives and teaching to the revelation of the Scriptures alone.  As a local church we recognize no outside authority than our Lord Jesus, the head of the universal and local church. We are affiliated with the Green Mountain Baptist Association, The Baptist Convention of New England and we are listed with the Founders movement in the Southern Baptist Convention.</p>
    		
    		<p> We stress the sufficiency and completeness of the Bible as "the only sufficient, certain, and infallible rule of all saving knowledge, faith, and obedience." A Confession we align with is The 1689 London Baptist Confession of Faith.</p>
    		
    		<p> Since we are a Reformed church, it is our desire to apply our church government from God's revealed design. We want to be always reforming to the Word of God (Semper Reformanda). Our sincere desire is to serve God and His people by 		providing clear and insightful Biblical knowledge in our preaching and teaching to our children and adults and any who would visit our place of worship.</p>
    		<p> We invite you to visit our church. If you have any questions, please call Pastor Michael Shortsleeves at (802) 483 6266, or Elder Robin Crossman at (802) 483 6547. </p>
    		<p> Time of Worship: 10:30am & 4:30 pm </p>
    </div>